*{
  margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,body{
   height: 100%;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    
    display: grid;
    padding: 5px;
    grid-template-columns: 23% 17% 5% 30% 22%;
    grid-template-rows: 28% 24% 6% 18% 18% ;
    gap: 10px;
    grid-template-areas: 
    "left-top top-center1 top-center1 top-center2 right-top"
    "left-top mid mid mid right-top"
    "left-bottom mid mid mid right-top"
    "left-bottom mid mid mid right-bottom"
    "left-bottom bottom-center1 bottom-center2 bottom-center2 right-bottom"
    ;
}
.left-top{
    background-color: aqua;
    grid-area: left-top;
    border-radius: 20px;
}
.left-bottom{
    background-color: bisque;
    grid-area: left-bottom;
    border-radius: 20px;
}
.top-center1{
    background-color: #FCF8F9;
    grid-area: top-center1;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    
    padding: 15px 45px;
}
.c1-top{
    display: flex;
    align-items: center;
    gap: 40px;
}
.c1-i{
    display: flex;
    align-items: center;
    justify-content: center;
     border-radius: 50%;
   background-color:   #e3b9be5b;
   height: 50px;
   width: 50px;
}
.c1-top  .c1-i>i{
   /* border-radius: 50%;
   background-color:   #e3b9be5b; */
   font-size: 30px;
   /* height: 50px;
   width: 50px; */
   color:  rgb(231, 5, 5);
}
.c1-top-left h1{
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 2px;
}
.c1-top-left h2{
    font-weight: 100;
    opacity: 0.7;
    font-size: 15px;
    letter-spacing: 2px;
  
}
.c2-bottom button{
    width: 100px;
    background-color:  #e3b9be5b;
    color: rgb(247, 6, 6);
    border: 0.5px solid gray;
    border-radius: 20px;    
    padding: 10px;
}
.top-center2{
    background-color: rgb(41, 110, 110);
    grid-area: top-center2;
    border-radius: 20px;
}
.center{
    background-color:#FCE4E5;
    grid-area: mid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.right-top{
    background-color: #FBF7F7;
    grid-area: right-top;
    border-radius: 20px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.right-top-1{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.img-1{
    padding: 25px 10px;
}
.content-1{
    font-size: 25px;
    font-weight: 600;
}
.img-1 img{
   height: 50px;
   width: 50px;
   object-fit: cover;
   border-radius: 50%;
   border: 0.5px solid black;
   margin-left: -10px;
}
.right-top-2{
     height: 50%;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top-1{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.top-1 h2{
  font-size: 20px;
  font-weight: 500;
}
.top-1 h1{
    font-size: 70px;
}
.bottom-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-2 h4{
    color: red;
    font-size: 20px;
    font-weight: 400;
}
.bottom-2-icon{
     display: flex;
    align-items: center;
    justify-content: center;
     border-radius: 30px;
   background-color:   #e3b9be5b;
   height: 80px;
   width: 80px;
}
.bottom-2-icon i{
    font-size: 40px;
}
.right-bottom{
    background-color:#FBF7F7;
    grid-area: right-bottom;
    border-radius: 20px;
}
.bottom-center1{
    background-color: rgb(127, 145, 139);
    grid-area: bottom-center1;
    border-radius: 20px;

}
.bottom-center2{
    background-color: #FDF2F2;
    grid-area: bottom-center2;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.bottom-center2 img{
    height: 130px;
}
.b-c2-div1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.b-c2-div1 h3{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 25px;
}
.b-c2-div1 p{
    font-weight: 100;
    opacity: 0.7;
    font-size: 15px;
}
.b-c2-div1 button{
    width: 120px;
    background-color: black;
    color: rgba(255, 255, 255, 0.842);
    border-radius: 20px;
    padding: 3px;

}
.circle{
    height: 100%;
    width: 50%;
    background-color: #e3b9be;
    border-radius: 50%;
}
.center .girl-img{
    height: 460px;
    position: absolute;
    bottom: 0;
}
.center .graph{
    height: 180px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.center .graph-right{
    height: 150px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.center .graph-bottom{
    height: 150px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.center .img-btn{
    height: 250px;
    position: absolute;
    left: 30px;
    bottom: 5px;
}